:root {
  /* Mode Light */
  --bg-primary-light: #fff;

  /* Mode Dark */
  --bg-primary: #161616;
  --color-primary: rgb(255 255 255 / 1);
  --color-secondary: rgb(212 212 212 / 1);
  --color-tertiary: rgb(115 115 115 / 1);
}

body {
  background-color: var(--bg-primary);
  font-family: "Inter", serif;
}
